// ==============================
// Logo
// =============================
$logo-font-size: 36px !default;
$logo-font-family: Athelas,STHeiti,Microsoft Yahei,serif !default;

.logo-wrapper {
  float: left;
  padding-left: 15px;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    padding-left: 10px;
  }
}

.logo-wrapper .logo-img {
  height: 50px;
  border-radius: 50%;
  vertical-align: bottom
}

/*@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}*/
