// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  padding-left: 15px;
}

.logo-wrapper .logo-img {
  height: 50px;
  border-radius: 50%;
  vertical-align: bottom
}
.logo-wrapper .logo {
  font-size: $logo-font-size;
  font-family: $logo-font-family;
  padding-left: 10px;
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
